# Required for tempeh
keras
lightgbm
numpy
pandas
requests
scikit-learn
scipy
setuptools>=41.2.0
shap
tensorflow
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.2.0+cpu
xgboost

# Required for environment
autopep8
flake8

# Required for test
# Pin pytest due to VS Code issue
pytest==5.0.1
pytest-cov
